.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    font-weight: normal;
    width: 150px;


    .label {
        background: grey;
        padding: 5px;
        height: 30px;
        cursor: pointer;

        &.selected {
            background: grey;
        }
        
        i {
            float: right;
        }

        .label-name {
            white-space: nowrap;
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.options {
    
    position: absolute;
    background-color: grey;
    color: black;            
    min-width: 150px;
    width: max-content;
    overflow: auto;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0px 5px;
    
    li {
        padding: 5px;
        display: block;

        &:hover {
            background-color: grey;
            cursor: pointer;
        }

        &.disabled, 
        &.disabled:hover {
            background-color: grey;
            color: grey;
            cursor: default;
        }
    }
}